/* Add your custom CSS styles */
body {
    background-color: #343a40;
    color: white;
}
.navbar {
    background-color: #343a40;
}
.form-group label {
    color: white;
}
.form-control {
    background-color: #495057;
    border-color: #495057;
    color: white;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 145%; 
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}